#button{
    display: inline-block;
    background-color: #62C370;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #000000;
    margin-right: 0px;
    transition: 350ms linear;
}

#button:hover{
    color: #62C370;
    background-color: #fff;
    transform: scale(1.05);
}